<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>{{data.post}}</h2>
            <img src="https://dummyimage.com/847x320/d9d9d9/545454.jpg" alt="feature Image" style="width:100%" />
            <br /><br />

            <br /><br />
            <strong>{{data.categories}}</strong> 3<br />
            <strong>Last Updated:</strong> 2020-02-25

        </article>
    </section>
    <aside class="col-md-3">
        <br /><br />
        <h4>Posts</h4>

        <ul class="list-group">
            <a href="#" class="list-group-item">Post 1</a>
            <a href="#" class="list-group-item">Post 2</a>
            <a href="#" class="list-group-item">etc...</a>
        </ul>

        <h4>Categories</h4>

        <ul class="list-group">
           <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">etc...</a>
        </ul>
    </aside>
</div>